<!DOCTYPE html>
<html>
    <head>
        <title>
            Login - INSURANCE
        </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body bgcolor="#080B1F">
    <center>
        <strong>
        <form>
    <fieldset>

        <legend><h1><font color=#64AEE3 face="Segoe Script">LogIn</font></h1></legend>
        <font color=#64AEE3 face="Franklin Gothic Medium">
    <p>Number_Id : <input type="number" name="numberid" placeholder=(registered_id)><br></p>
    <p>Password  :   <input type="password" name="password"><br></p>
    <p><b><input type="submit" value="Submit"></b><br></p>
</font>
</fieldset>
</form>
</strong>
</center>
</body>
</html>